{% extends 'layout.html'%}
{% load static %}
{% block bodycontent %}

<div id="booking" class="ride_section layout_padding">
      <div class="container">
        <div class="ride_main">
          <h1 class="ride_text"> Ride With <span style="color: #f4db31;"> EVERYDAY CABS</span></h1>
      </div>
        </div>
    </div>
    <div class="ride_section_2 layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div ><img src="{% static 'images/tata.jpg' %}"></div>
          </div>
          <div class="col-sm-8">
            <h1 class="cabe_text"><span style="color: #f4db31;">EVERYDAY CAB</span> [Pocket Friendly Ride] </h1>
            <p class="long_text">CAR-1-TATA INDICA-which is Absolute Economical City Rider...It Helps You to Save More On Your Intra City Rides.</p>
            <div class="row mt-n3 mt-lg-0 pb-4">
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-car text-primary mr-2"></i>
                    <span>Model: 2014</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-user text-primary mr-2"></i>
                    <span> Driver: 3rs/km </span>
                </div>
                
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-road text-primary mr-2"></i>
                    <span>On-Road: 8rs/km</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-fan text-primary mr-2"></i>
                    <span>A/C: 2rs/km</span>
                </div>
                <div class="container">
                <div class="book_bt"><a href="/book">BOOK NOW</a></div>
               </div>
               </div>
               </div>
           </div>
       </div>
   </div>


      <div class="ride_section_2 layout_padding">         
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class=""><img src="{% static 'images/swift2.webp' %}"></div>
            </div>
            <div class="col-sm-8">
            <h1 class="secure_text"><span style="color: #f4db31;">EVERYDAY CAB</span> [Business Class Ride]</h1>
            <p class="long_text_2">It Is A Business Class Comfort Rider..Use This Cab For Your Comfortable Family Rides And Business Rides</p>
            <div class="row mt-n3 mt-lg-0 pb-4">
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-car text-primary mr-2"></i>
                    <span>Model: 2017</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-user text-primary mr-2"></i>
                    <span> Driver: 5rs/km </span>
                </div>
                
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-road text-primary mr-2"></i>
                    <span>On-Road: 12rs/km</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-fan text-primary mr-2"></i>
                    <span>A/C: 2rs/km</span>
                </div>
                <div class="container">
                <div class="book_bt"><a href="/book">BOOK NOW</a></div>
               </div>
               </div>
               </div>
           </div>
       </div>
   </div>
  </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="image_3"><img src="{% static 'images/toyoto.png' %}"></div>
          </div>
          <div class="col-sm-8">
            <h1 class="cabe_text"><span style="color: #f4db31;">EVERYDAY CAB</span> [Package Ride] </h1>
            <p class="long_text">It is a Whole Package Rider...This Gives You Comfortable Family Rides Along With Enough Luggage Area  </p>
            <div class="row mt-n3 mt-lg-0 pb-4">
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-car text-primary mr-2"></i>
                    <span>Model: 2019</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-user text-primary mr-2"></i>
                    <span> Driver: 6rs/km </span>
                </div>
                
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-road text-primary mr-2"></i>
                    <span>On-Road: 14rs/km</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-fan text-primary mr-2"></i>
                    <span>A/C: 2rs/km</span>
                </div>
                <div class="container">
                <div class="book_bt"><a href="/book">BOOK NOW</a></div>
               </div>
               </div>
               </div>
           </div>
       </div>
   </div>    
{% endblock %}