{% extends 'layout3.html'%}
{% load static %}
{% block bodycontent %}
<form action="/feedba" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <center>
    <div class="container">
      <h1><center>View <span style="color: #f4db31;">Customer Feedbacks</span></center></h1>
      <center>
        <table border=1 class="table table-striped"></center>
          <tr>
            <td><h3><b>Name</td></td></b></h3>
            <td><h3><b>Feedback</td></td></b></h3>
            <td><h3><b>Answer</td></td></b></h3>
            <td><h3><b>Repaly</td></td></b></h3>
            <td><h3><b>Delete</td></td></b></h3>
          </tr>
          {% for getdata in getdata5 %}
          <tr>
            <td><h4> {{getdata.Name}}</h4></td>
            <td><h4> {{getdata.Cusfeedback}}</h4></td>
            <td><h4> {{getdata.Answer}}</h4></td>
            <td><a href="/replay/{{getdata.id}}"><p class="long_text">Replay</a></p></a></td>
            <td><a href="/delete2/{{getdata.id}}"><p class="long_text">Delete</a></p></a></td>
          </tr>
          {% endfor %}
        </table>
      </center>
    </div>
  </center>
</form>
{% endblock %}


        

      